ion-content {
    display: flex;
    justify-content: center; /* Centra verticalmente si necesitas */
    align-items: center; /* Centra horizontalmente */
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Asegura que los botones estén en la parte inferior */
    width: 100%;
    padding: 32px; /* Espacio a los lados */
    gap: 16px; /* Espacio entre input-container y button-container */
    height: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
 }